<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WanderLog: Your Personal Journey Mapper!</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
  </head>
  <body>
    
           
        

        <section class="home" id="home">

        <div class="content">
            <h3>Welcome to <span>WanderLog: Dynasty's Personal Journey Mapper!</span>
                <br>
                <br>
            <p>
                Hi there, my Name is Mojiboye Emmanuel Oluwole and i am Also known as <span>Dynasty</span>
                <br>
                <br>
                And this My online Diary on the Places I have been to
            </p>
            <a href="/#features" class="btn">Let's get started</a>
            <a href="/places" class="btn">Let's get started</a>
        </div>

    </section>

    <section id="features" class="features">

        <h1 class="heading"> Places <span>Dynasty</span> has been to</h1>

        <div class="box-container">

            <div class="box">
                <img src="./img/foodFeatures.jpeg" alt="food">
                <h3>Ibadan</h3>
                <p>Ibadan is a great city in the state of Oyo, to know more about my trip and who I went with; you can click on the button below</p>
                <a href="/place/1" class="btn">read more</a>
            </div>

            <div class="box">
                <img src="./img/feature-img-2.png" alt="food">
                <h3>Kwara</h3>
                <p>I am a computer science student of the federal university of ilorin and it will be a big lie if i said i had never been to kwara. so yes, I have been to kwara...</p>
                <a href="/place/2" class="btn">read more</a>
            </div>

            <div class="box">
                <img src="./img/feature-img-3.png" alt="food">
                <h3>Abuja</h3>
                <p>What a great City Abuja is. Even though I went there when I was a little kit i still remember and love Abuja. I stayed in Buari at....</p>
                <a href="./place/3" class="btn">Read more</a>
            </div>


        </div>

    </section>
    
    

    <style>
        :root {
            --orange: #ff7800;
            --black: #130f40;
            --light-color: #666;
            --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
            --border: .2rem solid rgba(0, 0, 0, 0.1);
            --outline: .1rem solid rgba(0, 0, 0, 0.1);
            --outline-hover: .2rem solid var(--black);
        }
        

        * {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            text-transform: capitalize;
            text-decoration: none;
            transition: all .2s linear;
        }

        
        html {
            font-size: 62.5%;
            overflow-x: hidden;
            scroll-behavior: smooth;
            scroll-padding-top: 7rem;
}

        body {
            background-color: #eee;
        }

        .container{
            text-align: center;
        }

        .header{
            color: var(--orange);
        }



        .btn {
            margin-top: 1rem;
            display: inline-block;
            padding: 0.8rem 1rem;
            font-size: 1.3rem;
            border-radius: 0.5rem;
            border: 0.2rem solid var(--black);
            color: var(--black);
            cursor: pointer;
            background: none;
        }

        .btn:hover {
            background: var(--orange);
            color: #fff;
        }

        .heading {
            text-align: center;
            padding: 2rem 0;
            padding-bottom: 3rem;
            font-size: 3.5rem;
            color: var(--black);
        }

        .heading span {
            background: var(--orange);
            color: #fff;
            display: inline-block;
            padding: 0.5rem 3rem;
            clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);

        }

        section {
            padding: 2rem 9%;
        }

        .home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/banner-bg.webp) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content {
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    color: var(--black);
    font-size: 3rem;
}


.home .content h3 span {
    color: var(--orange);

}

.home .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

        .features .box-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            gap: 1.5rem;
        }

        .features .box-container .box {
            padding: 3rem 2rem;
            background: #fff;
            outline: var(--outline);
            outline-offset: -1rem;
            text-align: center;
            box-shadow: var(--box-shadow);
        }


        .features .box-container .box:hover {
            outline: var(--outline-hover);
            outline-offset: 0rem;
        }

        .features .box-container .box img {
            margin: 1rem 0;
            height: 15rem;
        }


        .features .box-container .box h3 {
            font-size: 2.5rem;
            line-height: 1.8;
            color: var(--black);
        }


        .features .box-container .box p {
            font-size: 1.5rem;
            line-height: 1.8;
            color: var(--light-color);
            padding: 1rem 0;
        }


    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  </body>
</html>

