<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            background-color: #f8f8f8;
            color: #333;
        }

        h2 {
            color: #2c3e50;
            text-align: center;
        }

        .place-details {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .place-details img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
        }

        a {
            display: block;
            text-align: center;
            color: #3498db;
            text-decoration: none;
            font-weight: bold;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="place-details">
        <h2>Exploring Ilorin</h2>
        
        <img src="place-image.jpg" alt="Ilorin Image">
        
        <p><strong>Description:</strong> Ilorin is located at the North Central part of Nigeria. I have to say that the weather in Ilorin can be a bit cool sometimes and can also be a bit harsh.</p>
        
        <p><strong>Visited with:</strong> All alone, although my first 2 visits were with Mom.</p>
        
        <p><strong>Duration:</strong> Multiple Years</p>
        
        <p><strong>Memorable Moments:</strong> The Thunder Storms and Lightning at Midnight. Althoug, I get scared at times and start Praying while thinking its the end of the World</p>

         <a href="/places">Back to places</a>
    </div>
</body>
</html>
