<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            background-color: #f8f8f8;
            color: #333;
        }

        h2 {
            color: #2c3e50;
            text-align: center;
        }

        .place-details {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .place-details img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
        }

        a {
            display: block;
            text-align: center;
            color: #3498db;
            text-decoration: none;
            font-weight: bold;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="place-details">
        <h2>Exploring Abuja</h2>
        
        <img src="~/img/Abuja2.jpeg" alt="Ilorin Image">
        
        <p><strong>Description:</strong> Abuja is the capital of my Country Nigeria. They say a lot of rich people go there to relax... For hustling, I won't really recommend it to anyone because its costly</p>
        
        <p><strong>Visited with:</strong>I went with both Mom and Dad.</p>
        
        <p><strong>Duration:</strong> Multiple Years</p>
        
        <p><strong>Memorable Moments:</strong> When I actually got to experience a 24hour Power Supply from PHCN(Power Holding Company of Nigeria) a.k.a Nepa... I was really shocked although them I haven't found my love for Computers and softwares so I watched TV althrough. If it were to be now, I would be super productive.</p>

         <a href="/places">Back to places</a>
    </div>
</body>
</html>
